@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Smooch+Sans:wght@100..900&family=Winky+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Farsan&family=Smooch+Sans:wght@100..900&family=Winky+Sans:wght@300..900&display=swap');

.content {
    padding: 20px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    margin-top: 60px;
    text-align: justify; 
}
.content2{
    display: flex; 
    gap: 25px; 
    overflow: hidden; 
    width:95%; 
    margin: 0 auto;
    text-align: justify; 
}

#skills, #interests {
    flex: 3; 
}


h3 {
    margin-top: 0; 
}


.section {
    font-family: Winky Sans, sans-serif;
    margin: 18px;
    padding: 18px;
    border: 1px solid #20e5fb;
    border-radius: 8px;
    background-color: #000000;
}

.section h3 {
    color: #eec912;
    font-size: 24px;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #17ed65;
}

.table td {
    color: #ffffff;
}

.table tr:hover {
    background-color: #1b5a77;
}



.list {
    list-style-type: disc; 
    padding-left: 20px; 
}

.list li {
    font-size: 15px; 
    margin-bottom: 7px; 
}
@media (max-width: 768px) {
    
    * {
        box-sizing: border-box;
    }

    .content {
        display: block !important;    
        grid-template-columns: 1fr; 
        margin-top: 80px;             
        padding: 0 15px;              
        width: 100%;
    }

    .content2 {
        display: flex !important;
        flex-direction: column !important; 
        width: 100% !important;
        padding: 0 15px;              
        margin: 0 auto;
        gap: 0;                       
        overflow: visible !important; 
    }

    
    .section, #skills, #interests {
        display: block !important;
        width: 100% !important;      
        margin: 10px 0 !important;    
        flex: none !important;       
        height: auto !important;      
    }

 
    .section h3 {
        font-size: 20px !important;
        margin-bottom: 8px;
    }

    .table td {
        padding: 8px 5px !important;
        font-size: 14px !important;
    }

    .list li {
        font-size: 14px !important;
        margin-bottom: 5px;
    }
}
